<section>
    <h2>NEWS</h2>
    {{#each news}}
        <p>{{title}}</p>
        <img src={{url}} alt="nasa">
        <p>{{explanation}}</p>
    {{/each}}


    {{!-- <ul>
        <li><a href="{{API}}"></a>{{API}}
            <img src="{{API}}" alt="">

        </li>
    </ul>
    {{#if admin}}
        <form action="" method="post">
            <button type="submit">DELETE</button>
        </form>
    {{/if}} --}}
</section>