<div class="container" id="loading">
    <i class="fa-solid fa-spinner fa-spin-pulse"  id="spinner-news" style="color: #ffffff;"></i>
</div>
<div class="container" style="display: none;" id="newsContainer">
    <h2 class="text-center text-white">NEWS</h2>
    <div class="row">
        {{#each news}}
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="/news/{{date}}" class="card-img-top"><img src={{url}} id="img-size" alt="Card image cap"></a>
                <div class="card-body">
                    <a href="/news/{{date}}" style="text-decoration: none; color: black;">
                        <h5 class="card-title">{{title}}</h5>
                    </a>
                    <p class="card-text" id="card-text">
                        {{explanation}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {{!-- <i class="fas fa-eye"></i> --}}
                            <i class="fa-solid fa-check"></i> API NASA
                            <i class="fa-regular fa-calendar-days"></i> {{date}}
                        </small>
                        {{!-- <button type="button" class="btn btn-outline-secondary float-end">Read more</button> --}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script src="../js/loading-masonry.js"></script>
