<h2>NEWS DETAIL</h2>

    <div>
        <p>{{news.title}}</p>
        <p>{{news.date}}</p>
        <img src={{news.url}} alt="nasa">
        <p>{{news.explanation}}</p>
    </div>
    {{#each Newscomments.result.0.comments}}
        <div>
           <p>{{contenido}}</p> 
        </div>
    {{/each}}
{{!-- <p>{{Newscomments.result.1.comments.0.contenido}}</p> --}}
<div>
    <form action="/news/{{news.date}}" method="post">
        <label for="">
            <input type="textarea" name="contenido">
        </label>

        <button type="submit">Enviar</button>
    </form>
</div>