<div class="container">
  <p class="h4 text-left ml-2 text-white">{{news.date}}</p>
  <div class="card mx-auto" style="max-width: 100%; background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(25px);">
    <h1 class="card-header text-center text-white">{{news.title}}</h1>
    <img src="{{news.url}}" class="card-img-top img-fluid" alt="nasa">
    <div class="card-body">
      <p class="card-text text-center text-white lead">{{news.explanation}}</p>
    </div>
  </div>
</div>


<!-- Botón para activar el colapso -->
<div class="container">
  <button class="btn btn-light mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#commentsCollapse"
    aria-expanded="true" aria-controls="commentsCollapse">
    Comments
  </button>
</div>

<!-- Área que se colapsará -->
<div class="collapse" id="commentsCollapse">
  {{#each Newscomments.comments}}
  <div class="container">
    <div class="card mx-auto mt-5"
      style="max-width: 100%; background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(25px);">
      <h5 class="card-header text-white"><i class="fa-regular fa-clock"></i> {{simplifiedDate}}</h5>
      <div class="card-body">
        <h5 class="card-title"><i class="fa-regular fa-user"></i><a href="/auth/profile/{{author.id}}">
            {{author.username}}</a></h5>
        <p class="text-white">{{contenido}}</p>

        <!-- Editar comentario -->
        <div class="mb-3">
          {{#if canEdit}}
          <label for="exampleFormControlTextarea1" class="form-label text-white-50">Edit comment</label>
          <form action="/news/edit/{{_id}}" method="post">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="contenido"></textarea>
            <button type="submit" class="btn btn-outline-light mt-3 float-end">Edit <i
                class="fa-solid fa-pen"></i></button>
          </form>
          {{/if}}
        </div>

        <!-- Eliminar comentario -->
        {{#if canDelete}}
        <form action="/news/delete/{{_id}}" method="get">
          <button type="submit" class="btn btn-outline-light me-md-2 float-end">Delete <i
              class="fa-regular fa-trash-can"></i></button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>


<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-6">
      <div class="card mx-auto mt-3 mb-3" style="max-width: 100%; background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(25px);">
        <div class="card-body p-4">
          <div class="d-flex flex-start w-100">
            <div class="w-100">
              <h5 class="text-white-50">Add a comment</h5>
              <div class="form-outline">
                <form action="/news/{{news.date}}" method="post">
                  <label class="form-label" for="textAreaExample"></label>
                  <textarea class="form-control d-flex mx-auto" id="textAreaExample" type="textarea" name="contenido"
                    rows="4"></textarea>
        
                    <button type="submit" class="btn btn-outline-light float-end mt-3">Send<i
                        class="fas fa-long-arrow-alt-right ms-1"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://kit.fontawesome.com/c961c96d7d.js" crossorigin="anonymous"></script>

{{!-- <form action="/news/{{news.date}}" method="post">
  <label class="form-label" for="textAreaExample">
    <textarea class="form-control d-flex mx-auto" id="textAreaExample" type="textarea" name="contenido"
      rows="4"></textarea>
  </label> --}}