<h2 class="d-flex justify-content-center bg-primary border border-dark">Edit profile: {{result.title}}</h2>

<form action="/auth/profile/{{user._id}}/edit" method="post">
<div>
  <label class="form-label"> Username:
    <input type="text" name="username"  class="form-control"/>
  </label>

</div>
<div>
  <label class="form-label"> Email:
    <input type="email" name="email" class="form-control" />
  </label>

</div>
<div>
  <label class="form-label"> Password:
    <input type="password" name="password" class="form-control">{{result.plot}}
  </label>

</div>

<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Save changed</button>
  </div>

  {{#if errorMessage}}
<p class="error">{{errorMessage}} </p> 
{{/if}}

</form>


<div class="d-flex justify-content-end">
    <a href="/" class="btn btn-primary">Home</a>
</div>



{{!-- 
<h2>Edit Movie:</h2>
<form action=“/user/edit/{{user._id}}” method=“post”>
<label for=“username”>Username:</label>
<input type=“text” id=“username” name=“username” value={{user.username}}>
<label for=“genre”>Email:</label>
<input type=“text” id=“genre” name=“genre” value={{email.genre}}>
<button type=“submit”>Submit</button>
</form> --}}