<h2>Profile</h2>


<div>
<h3> {{user.username}}</h3>
<h4>Email:{{user.email}}</h4>
<h4>Comments:{{user.comments}}</h4>
<h4>News:{{user.news}}</h4>
<h4>Likes: {{user.likes}}</h4>

</div>


<a href="profile/{{user._id}}/edit">Editar Profile</a>
{{!-- 
<form action="/profile/{{user._id}}/edit" method="Post">
<button>Edit profile</button>
</form> --}}