<!-- fist -->
<div id="first-section" class="container d-flex align-items-center justify-content-center text-center h-100 py-5"
  style="margin-top: 180px; margin-bottom: 300px;">
  <div class="text-white">
    <h1 class="mb-3 text-white">Forum Nasa</h1>
    <h5 class="mb-4 text-white-50">Interact with the latest NASA news</h5>
    <!-- signup modal button -->
    <a class="btn btn-outline-light btn-lg m-2" href="/auth/signup" role="button" data-bs-toggle="modal"
      data-bs-target="#signupModal">Sign Up</a>
    <!-- login modal button -->
    <a class="btn btn-outline-light btn-lg m-2" href="/auth/login" role="button" data-toggle="modal"
      data-target="#loginModal">Log In</a>
  </div>
</div>

<!-- Login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"
      style="border-radius: 1rem; background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(10px);">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Log in</h5>
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> --}}
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          {{!-- </button> --}}
      </div>
      <div class="modal-body p-5">


        <h3 class="text-center font-weight-bold text-white">FORUM NASA</h3>
        <form id="loginForm" action="/auth/login" method="POST">

          <div class="text-center">
            <span class="text-white-50"><i class="fa-solid fa-rocket fa-beat-fade fa-5x"></i></span>
          </div>

          <div class="form-floating mt-3 mb-2">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>


          <div class="form-floating mb-2">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingInput">Password</label>
          </div>
          <button id="loginBtn" type="submit" class="btn btn-outline-light d-grid gap-2 col-6 mx-auto mb-2 mt-3">
            <p class="loginText mb-0" id="loginText">Log in</p>
            <i id="spinner" class="fas fa-spinner fa-spin" style="display: none;"></i>
          </button>
          <p class="text-white-50 text-center mt-2">Do not you have an account yet? <a href="/auth/signup">click here
            </a>to create an account.</p>
          {{#if errorMessage}}
          <p id="error" class="mt-3">{{errorMessage}}</p>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- signup modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"
      style="border-radius: 1rem; background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(10px);">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Sign up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5">


        <h3 class="text-center font-weight-bold text-white">FORUM NASA</h3>
        <form id="signupForm" action="/auth/signup" method="POST">

          <div class="text-center">
            <span class="text-white-50"><i class="fa-solid fa-rocket fa-beat-fade fa-5x"></i></span>
          </div>

          <div class="form-floating mt-3 mb-2">
            <input type="text" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
          </div>

          <div class="form-floating mb-2">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>


          <div class="form-floating mb-2">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingInput">Password</label>
          </div>
          <button id="signupBtn" type="submit" class="btn btn-outline-light d-grid gap-2 col-6 mx-auto mb-2 mt-3">
            <p class="signupText mb-0" id="signupText">Sign up</p>
            <i id="spinnerTwo" class="fas fa-spinner fa-spin" style="display: none;"></i>
          </button>
          <p class="text-white-50 text-center mt-2">Do you already have an account? <a href="/auth/login">click here
            </a>to log in.</p>
          {{#if errorMessage}}
          <p id="error" class="mt-3">{{errorMessage}}</p>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>


{{!-- top 3 news hard-coded card --}}
<div class="container" id="newsContainer">
  <h2 class="text-center text-white">TOP 3 NEWS</h2>
  <div class="row">
    <div class="col-md-4">
      {{!-- card 1 --}}
      <div class="card mb-4">
        <a href="/news/{{date}}" class="card-img-top"><img
            src="https://apod.nasa.gov/apod/image/2312/Exaray_OsakaU_1080.jpg" id="img-size" alt="Card image cap"></a>
        <div class="card-body">
          <a href="/news/{{date}}" style="text-decoration: none; color: black;">
            <h5 class="card-title">Energetic Particle Strikes the Earth</h5>
          </a>
          <p class="card-text">
            It was one of the most energetic particles ever known to strike the Earth -- but where did it come from?
            Dubbed Amaterasu after the Shinto sun goddess, this particle, as do all cosmic rays that strike the Earth's
            atmosphere, caused an air shower...
          </p>
          <p class="card-text">
            <small class="text-muted">
              {{!-- <i class="fas fa-eye"></i> --}}
              <i class="fa-solid fa-check"></i> API NASA
              <i class="fa-regular fa-calendar-days"></i> 2023-12-05
            </small>
            {{!-- <button type="button" class="btn btn-outline-secondary float-end">Read more</button> --}}
          </p>
        </div>
      </div>
    </div>
    {{!-- card 2 --}}
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="/news/{{date}}" class="card-img-top"><img
            src="https://apod.nasa.gov/apod/image/2312/_MG_4553_rawfile1024.jpg" id="img-size" alt="Card image cap"></a>
        <div class="card-body">
          <a href="/news/{{date}}" style="text-decoration: none; color: black;">
            <h5 class="card-title">Pic du Pleiades</h5>
          </a>
          <p class="card-text">
            Near dawn on November 19 the Pleiades stood in still dark skies over the French Pyrenees. But just before
            sunrise a serendipitous moment was captured in this single 3 second exposure; a bright meteor streak
            appeared to pierce the heart...
          </p>
          <p class="card-text">
            <small class="text-muted">
              {{!-- <i class="fas fa-eye"></i> --}}
              <i class="fa-solid fa-check"></i> API NASA
              <i class="fa-regular fa-calendar-days"></i> 2023-12-05
            </small>
            {{!-- <button type="button" class="btn btn-outline-secondary float-end">Read more</button> --}}
          </p>
        </div>
      </div>
    </div>
    {{!-- card 3 --}}
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="/news/{{date}}" class="card-img-top"><img
            src="https://apod.nasa.gov/apod/image/2311/ngc1555wide1024.jpg" id="img-size" alt="Card image cap"></a>
        <div class="card-body">
          <a href="/news/{{date}}" style="text-decoration: none; color: black;">
            <h5 class="card-title">Along the Taurus Molecular Cloud</h5>
          </a>
          <p class="card-text">
            The cosmic brush of star formation composed this interstellar canvas of emission, dust, and dark nebulae. A
            5 degree wide telescopic mosaic, it frames a region found north of bright star Aldebaran on the sky, at an
            inner wall of the local bubble...
          </p>
          <p class="card-text">
            <small class="text-muted">
              {{!-- <i class="fas fa-eye"></i> --}}
              <i class="fa-solid fa-check"></i> API NASA
              <i class="fa-regular fa-calendar-days"></i> 2023-12-05
            </small>
            {{!-- <button type="button" class="btn btn-outline-secondary float-end">Read more</button> --}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- scroll.js imported -->
<script src="/js/scroll.js"></script>
<!-- loading-buton.js imported -->
<script src="/js/loading-buton.js"></script>