<h2>Profile</h2>


<div>
<h3> {{user.username}}</h3>
<h4>Email:{{user.email}}</h4>
<h4>Comments:{{user.comments}}</h4>
<h4>News:{{user.news}}</h4>

</div>


<form action="/profile/{{user._id}}/edit" method="get">
<button>Edit profile</button>
</form>